<h1>My Tasks <i class="fa-regular fa-square-check"></i></h1>
<ul>
<% @tasks.each do |task| %>
  <li>
    <i class="<%= task.completed ? "fa-regular fa-square-check" : "fa-regular fa-square" %>"></i>
    <%= link_to task.title, task_path(task) %>
    <%= link_to "âœï¸", edit_task_path(task) %>
    <%= link_to "ðŸ—‘", delete_task_path(task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </li>
<% end %>
</ul>
<%= link_to "âœš add new task", new_path %>
